WarehouseControlSystem/WarehouseControlSystem.UWP/Connected Services/NAV/WarehouseControlManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="get_IsSingleInstance">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="get_IsSingleInstance_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="APIVersion">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="APIVersion_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="RunUDS">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="functionIndex" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RunUDS_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="RunFunction">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="functionindex" type="int" />
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="RunFunction_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPlanWidth">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetPlanWidth_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetPlanHeight">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetPlanHeight_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SetPlanWidth">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SetPlanWidth_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetPlanHeight">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="SetPlanHeight_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="CreateLocation">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hexColor" type="string" />
            <element minOccurs="1" maxOccurs="1" name="planWidth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="planHeight" type="int" />
            <element minOccurs="1" maxOccurs="1" name="left" type="int" />
            <element minOccurs="1" maxOccurs="1" name="top" type="int" />
            <element minOccurs="1" maxOccurs="1" name="width" type="int" />
            <element minOccurs="1" maxOccurs="1" name="height" type="int" />
            <element minOccurs="1" maxOccurs="1" name="schemeVisible" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="binMandatory" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requireReceive" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requireShipment" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requirePick" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requirePutaway" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateLocation_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ModifyLocation">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="prevCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hexColor" type="string" />
            <element minOccurs="1" maxOccurs="1" name="planWidth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="planHeight" type="int" />
            <element minOccurs="1" maxOccurs="1" name="left" type="int" />
            <element minOccurs="1" maxOccurs="1" name="top" type="int" />
            <element minOccurs="1" maxOccurs="1" name="width" type="int" />
            <element minOccurs="1" maxOccurs="1" name="height" type="int" />
            <element minOccurs="1" maxOccurs="1" name="schemeVisible" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="binMandatory" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requireReceive" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requireShipment" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requirePick" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="requirePutaway" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyLocation_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteLocation">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteLocation_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetLocationVisible">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="visible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetLocationVisible_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetLocationCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="codeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="onlyVisibled" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLocationCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLocationList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="codeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="onlyVisibled" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetLocationList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateZone">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binTypeCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneRanking" type="int" />
            <element minOccurs="1" maxOccurs="1" name="crossDockBinZone" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="specialEquipmentCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="warehouseClassCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hexColor" type="string" />
            <element minOccurs="1" maxOccurs="1" name="planWidth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="planHeight" type="int" />
            <element minOccurs="1" maxOccurs="1" name="left" type="int" />
            <element minOccurs="1" maxOccurs="1" name="top" type="int" />
            <element minOccurs="1" maxOccurs="1" name="width" type="int" />
            <element minOccurs="1" maxOccurs="1" name="height" type="int" />
            <element minOccurs="1" maxOccurs="1" name="schemeVisible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateZone_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ModifyZone">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="prevCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binTypeCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneRanking" type="int" />
            <element minOccurs="1" maxOccurs="1" name="crossDockBinZone" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="specialEquipmentCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="warehouseClassCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hexColor" type="string" />
            <element minOccurs="1" maxOccurs="1" name="planWidth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="planHeight" type="int" />
            <element minOccurs="1" maxOccurs="1" name="left" type="int" />
            <element minOccurs="1" maxOccurs="1" name="top" type="int" />
            <element minOccurs="1" maxOccurs="1" name="width" type="int" />
            <element minOccurs="1" maxOccurs="1" name="height" type="int" />
            <element minOccurs="1" maxOccurs="1" name="schemeVisible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyZone_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteZone">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteZone_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetZoneVisible">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="visible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetZoneVisible_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetZoneCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="codeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="onlyVisibled" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetZoneCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetZoneList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="codeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="onlyVisibled" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetZoneList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateBin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="binTemplateCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="section" type="int" />
            <element minOccurs="1" maxOccurs="1" name="level" type="int" />
            <element minOccurs="1" maxOccurs="1" name="depth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="sectionSpan" type="int" />
            <element minOccurs="1" maxOccurs="1" name="levelSpan" type="int" />
            <element minOccurs="1" maxOccurs="1" name="depthSpan" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateBin_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ModifyBin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="prevBinCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="section" type="int" />
            <element minOccurs="1" maxOccurs="1" name="level" type="int" />
            <element minOccurs="1" maxOccurs="1" name="depth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="sectionSpan" type="int" />
            <element minOccurs="1" maxOccurs="1" name="levelSpan" type="int" />
            <element minOccurs="1" maxOccurs="1" name="depthSpan" type="int" />
            <element minOccurs="1" maxOccurs="1" name="binRanking" type="int" />
            <element minOccurs="1" maxOccurs="1" name="maximumCubage" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="maximumWeight" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="blockMovement" type="int" />
            <element minOccurs="1" maxOccurs="1" name="binTypeCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="warehouseClassCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="specialEquipmentCode" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyBin_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteBin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteBin_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetBinCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeFilter" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRack">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sections" type="int" />
            <element minOccurs="1" maxOccurs="1" name="levels" type="int" />
            <element minOccurs="1" maxOccurs="1" name="depth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="left" type="int" />
            <element minOccurs="1" maxOccurs="1" name="top" type="int" />
            <element minOccurs="1" maxOccurs="1" name="width" type="int" />
            <element minOccurs="1" maxOccurs="1" name="height" type="int" />
            <element minOccurs="1" maxOccurs="1" name="rackOrientation" type="int" />
            <element minOccurs="1" maxOccurs="1" name="schemeVisible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateRack_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ModifyRack">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
            <element minOccurs="1" maxOccurs="1" name="prevNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="sections" type="int" />
            <element minOccurs="1" maxOccurs="1" name="levels" type="int" />
            <element minOccurs="1" maxOccurs="1" name="depth" type="int" />
            <element minOccurs="1" maxOccurs="1" name="left" type="int" />
            <element minOccurs="1" maxOccurs="1" name="top" type="int" />
            <element minOccurs="1" maxOccurs="1" name="width" type="int" />
            <element minOccurs="1" maxOccurs="1" name="height" type="int" />
            <element minOccurs="1" maxOccurs="1" name="rackOrientation" type="int" />
            <element minOccurs="1" maxOccurs="1" name="schemeVisible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyRack_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteRack">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteRack_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="SetRackVisible">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="no" type="string" />
            <element minOccurs="1" maxOccurs="1" name="visible" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetRackVisible_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetRackCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nOFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="onlyVisibled" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRackCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRackList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="onlyVisibled" type="boolean" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetRackList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateBinTemplate">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binTypeCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="warehouseClassCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="blockMovement" type="int" />
            <element minOccurs="1" maxOccurs="1" name="specialEquipmentCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binRanking" type="int" />
            <element minOccurs="1" maxOccurs="1" name="maximumCubage" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="maximumWeight" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="dedicated1" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateBinTemplate_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="ModifyBinTemplate">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
            <element minOccurs="1" maxOccurs="1" name="description" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binTypeCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="warehouseClassCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="blockMovement" type="int" />
            <element minOccurs="1" maxOccurs="1" name="specialEquipmentCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binRanking" type="int" />
            <element minOccurs="1" maxOccurs="1" name="maximumCubage" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="maximumWeight" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="dedicated1" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ModifyBinTemplate_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="DeleteBinTemplate">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="code" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteBinTemplate_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetBinTemplateCount">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetBinTemplateCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinTemplateList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinTemplateList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinTypeCount">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetBinTypeCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinTypeList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinTypeList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinContentCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeFilter" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinContentCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinContentList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBinContentList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemIdentifierCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="barCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeFilter" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemIdentifierCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemIdentifierList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="barCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetItemIdentifierList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseClassCount">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetWarehouseClassCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseClassList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseClassList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetSpecialEquipmentCount">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetSpecialEquipmentCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetSpecialEquipmentList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetSpecialEquipmentList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseEntryCount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeFilter" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseEntryCount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseEntryList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="binCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNoFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="variantCodeFilter" type="string" />
            <element minOccurs="1" maxOccurs="1" name="entriesPosition" type="int" />
            <element minOccurs="1" maxOccurs="1" name="entriesCount" type="int" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetWarehouseEntryList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Search">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="request" type="string" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Search_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoadUserDefinedSelectionList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoadUserDefinedSelectionList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoadUserDefinedFunctionList">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="locationCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="zoneCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rackNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="LoadUserDefinedFunctionList_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="responseDocument" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="get_IsSingleInstance">
    <part name="parameters" element="tns:get_IsSingleInstance" />
  </message>
  <message name="get_IsSingleInstance_Result">
    <part name="parameters" element="tns:get_IsSingleInstance_Result" />
  </message>
  <message name="APIVersion">
    <part name="parameters" element="tns:APIVersion" />
  </message>
  <message name="APIVersion_Result">
    <part name="parameters" element="tns:APIVersion_Result" />
  </message>
  <message name="RunUDS">
    <part name="parameters" element="tns:RunUDS" />
  </message>
  <message name="RunUDS_Result">
    <part name="parameters" element="tns:RunUDS_Result" />
  </message>
  <message name="RunFunction">
    <part name="parameters" element="tns:RunFunction" />
  </message>
  <message name="RunFunction_Result">
    <part name="parameters" element="tns:RunFunction_Result" />
  </message>
  <message name="GetPlanWidth">
    <part name="parameters" element="tns:GetPlanWidth" />
  </message>
  <message name="GetPlanWidth_Result">
    <part name="parameters" element="tns:GetPlanWidth_Result" />
  </message>
  <message name="GetPlanHeight">
    <part name="parameters" element="tns:GetPlanHeight" />
  </message>
  <message name="GetPlanHeight_Result">
    <part name="parameters" element="tns:GetPlanHeight_Result" />
  </message>
  <message name="SetPlanWidth">
    <part name="parameters" element="tns:SetPlanWidth" />
  </message>
  <message name="SetPlanWidth_Result">
    <part name="parameters" element="tns:SetPlanWidth_Result" />
  </message>
  <message name="SetPlanHeight">
    <part name="parameters" element="tns:SetPlanHeight" />
  </message>
  <message name="SetPlanHeight_Result">
    <part name="parameters" element="tns:SetPlanHeight_Result" />
  </message>
  <message name="CreateLocation">
    <part name="parameters" element="tns:CreateLocation" />
  </message>
  <message name="CreateLocation_Result">
    <part name="parameters" element="tns:CreateLocation_Result" />
  </message>
  <message name="ModifyLocation">
    <part name="parameters" element="tns:ModifyLocation" />
  </message>
  <message name="ModifyLocation_Result">
    <part name="parameters" element="tns:ModifyLocation_Result" />
  </message>
  <message name="DeleteLocation">
    <part name="parameters" element="tns:DeleteLocation" />
  </message>
  <message name="DeleteLocation_Result">
    <part name="parameters" element="tns:DeleteLocation_Result" />
  </message>
  <message name="SetLocationVisible">
    <part name="parameters" element="tns:SetLocationVisible" />
  </message>
  <message name="SetLocationVisible_Result">
    <part name="parameters" element="tns:SetLocationVisible_Result" />
  </message>
  <message name="GetLocationCount">
    <part name="parameters" element="tns:GetLocationCount" />
  </message>
  <message name="GetLocationCount_Result">
    <part name="parameters" element="tns:GetLocationCount_Result" />
  </message>
  <message name="GetLocationList">
    <part name="parameters" element="tns:GetLocationList" />
  </message>
  <message name="GetLocationList_Result">
    <part name="parameters" element="tns:GetLocationList_Result" />
  </message>
  <message name="CreateZone">
    <part name="parameters" element="tns:CreateZone" />
  </message>
  <message name="CreateZone_Result">
    <part name="parameters" element="tns:CreateZone_Result" />
  </message>
  <message name="ModifyZone">
    <part name="parameters" element="tns:ModifyZone" />
  </message>
  <message name="ModifyZone_Result">
    <part name="parameters" element="tns:ModifyZone_Result" />
  </message>
  <message name="DeleteZone">
    <part name="parameters" element="tns:DeleteZone" />
  </message>
  <message name="DeleteZone_Result">
    <part name="parameters" element="tns:DeleteZone_Result" />
  </message>
  <message name="SetZoneVisible">
    <part name="parameters" element="tns:SetZoneVisible" />
  </message>
  <message name="SetZoneVisible_Result">
    <part name="parameters" element="tns:SetZoneVisible_Result" />
  </message>
  <message name="GetZoneCount">
    <part name="parameters" element="tns:GetZoneCount" />
  </message>
  <message name="GetZoneCount_Result">
    <part name="parameters" element="tns:GetZoneCount_Result" />
  </message>
  <message name="GetZoneList">
    <part name="parameters" element="tns:GetZoneList" />
  </message>
  <message name="GetZoneList_Result">
    <part name="parameters" element="tns:GetZoneList_Result" />
  </message>
  <message name="CreateBin">
    <part name="parameters" element="tns:CreateBin" />
  </message>
  <message name="CreateBin_Result">
    <part name="parameters" element="tns:CreateBin_Result" />
  </message>
  <message name="ModifyBin">
    <part name="parameters" element="tns:ModifyBin" />
  </message>
  <message name="ModifyBin_Result">
    <part name="parameters" element="tns:ModifyBin_Result" />
  </message>
  <message name="DeleteBin">
    <part name="parameters" element="tns:DeleteBin" />
  </message>
  <message name="DeleteBin_Result">
    <part name="parameters" element="tns:DeleteBin_Result" />
  </message>
  <message name="GetBinCount">
    <part name="parameters" element="tns:GetBinCount" />
  </message>
  <message name="GetBinCount_Result">
    <part name="parameters" element="tns:GetBinCount_Result" />
  </message>
  <message name="GetBinList">
    <part name="parameters" element="tns:GetBinList" />
  </message>
  <message name="GetBinList_Result">
    <part name="parameters" element="tns:GetBinList_Result" />
  </message>
  <message name="CreateRack">
    <part name="parameters" element="tns:CreateRack" />
  </message>
  <message name="CreateRack_Result">
    <part name="parameters" element="tns:CreateRack_Result" />
  </message>
  <message name="ModifyRack">
    <part name="parameters" element="tns:ModifyRack" />
  </message>
  <message name="ModifyRack_Result">
    <part name="parameters" element="tns:ModifyRack_Result" />
  </message>
  <message name="DeleteRack">
    <part name="parameters" element="tns:DeleteRack" />
  </message>
  <message name="DeleteRack_Result">
    <part name="parameters" element="tns:DeleteRack_Result" />
  </message>
  <message name="SetRackVisible">
    <part name="parameters" element="tns:SetRackVisible" />
  </message>
  <message name="SetRackVisible_Result">
    <part name="parameters" element="tns:SetRackVisible_Result" />
  </message>
  <message name="GetRackCount">
    <part name="parameters" element="tns:GetRackCount" />
  </message>
  <message name="GetRackCount_Result">
    <part name="parameters" element="tns:GetRackCount_Result" />
  </message>
  <message name="GetRackList">
    <part name="parameters" element="tns:GetRackList" />
  </message>
  <message name="GetRackList_Result">
    <part name="parameters" element="tns:GetRackList_Result" />
  </message>
  <message name="CreateBinTemplate">
    <part name="parameters" element="tns:CreateBinTemplate" />
  </message>
  <message name="CreateBinTemplate_Result">
    <part name="parameters" element="tns:CreateBinTemplate_Result" />
  </message>
  <message name="ModifyBinTemplate">
    <part name="parameters" element="tns:ModifyBinTemplate" />
  </message>
  <message name="ModifyBinTemplate_Result">
    <part name="parameters" element="tns:ModifyBinTemplate_Result" />
  </message>
  <message name="DeleteBinTemplate">
    <part name="parameters" element="tns:DeleteBinTemplate" />
  </message>
  <message name="DeleteBinTemplate_Result">
    <part name="parameters" element="tns:DeleteBinTemplate_Result" />
  </message>
  <message name="GetBinTemplateCount">
    <part name="parameters" element="tns:GetBinTemplateCount" />
  </message>
  <message name="GetBinTemplateCount_Result">
    <part name="parameters" element="tns:GetBinTemplateCount_Result" />
  </message>
  <message name="GetBinTemplateList">
    <part name="parameters" element="tns:GetBinTemplateList" />
  </message>
  <message name="GetBinTemplateList_Result">
    <part name="parameters" element="tns:GetBinTemplateList_Result" />
  </message>
  <message name="GetBinTypeCount">
    <part name="parameters" element="tns:GetBinTypeCount" />
  </message>
  <message name="GetBinTypeCount_Result">
    <part name="parameters" element="tns:GetBinTypeCount_Result" />
  </message>
  <message name="GetBinTypeList">
    <part name="parameters" element="tns:GetBinTypeList" />
  </message>
  <message name="GetBinTypeList_Result">
    <part name="parameters" element="tns:GetBinTypeList_Result" />
  </message>
  <message name="GetBinContentCount">
    <part name="parameters" element="tns:GetBinContentCount" />
  </message>
  <message name="GetBinContentCount_Result">
    <part name="parameters" element="tns:GetBinContentCount_Result" />
  </message>
  <message name="GetBinContentList">
    <part name="parameters" element="tns:GetBinContentList" />
  </message>
  <message name="GetBinContentList_Result">
    <part name="parameters" element="tns:GetBinContentList_Result" />
  </message>
  <message name="GetItemIdentifierCount">
    <part name="parameters" element="tns:GetItemIdentifierCount" />
  </message>
  <message name="GetItemIdentifierCount_Result">
    <part name="parameters" element="tns:GetItemIdentifierCount_Result" />
  </message>
  <message name="GetItemIdentifierList">
    <part name="parameters" element="tns:GetItemIdentifierList" />
  </message>
  <message name="GetItemIdentifierList_Result">
    <part name="parameters" element="tns:GetItemIdentifierList_Result" />
  </message>
  <message name="GetWarehouseClassCount">
    <part name="parameters" element="tns:GetWarehouseClassCount" />
  </message>
  <message name="GetWarehouseClassCount_Result">
    <part name="parameters" element="tns:GetWarehouseClassCount_Result" />
  </message>
  <message name="GetWarehouseClassList">
    <part name="parameters" element="tns:GetWarehouseClassList" />
  </message>
  <message name="GetWarehouseClassList_Result">
    <part name="parameters" element="tns:GetWarehouseClassList_Result" />
  </message>
  <message name="GetSpecialEquipmentCount">
    <part name="parameters" element="tns:GetSpecialEquipmentCount" />
  </message>
  <message name="GetSpecialEquipmentCount_Result">
    <part name="parameters" element="tns:GetSpecialEquipmentCount_Result" />
  </message>
  <message name="GetSpecialEquipmentList">
    <part name="parameters" element="tns:GetSpecialEquipmentList" />
  </message>
  <message name="GetSpecialEquipmentList_Result">
    <part name="parameters" element="tns:GetSpecialEquipmentList_Result" />
  </message>
  <message name="GetWarehouseEntryCount">
    <part name="parameters" element="tns:GetWarehouseEntryCount" />
  </message>
  <message name="GetWarehouseEntryCount_Result">
    <part name="parameters" element="tns:GetWarehouseEntryCount_Result" />
  </message>
  <message name="GetWarehouseEntryList">
    <part name="parameters" element="tns:GetWarehouseEntryList" />
  </message>
  <message name="GetWarehouseEntryList_Result">
    <part name="parameters" element="tns:GetWarehouseEntryList_Result" />
  </message>
  <message name="Search">
    <part name="parameters" element="tns:Search" />
  </message>
  <message name="Search_Result">
    <part name="parameters" element="tns:Search_Result" />
  </message>
  <message name="LoadUserDefinedSelectionList">
    <part name="parameters" element="tns:LoadUserDefinedSelectionList" />
  </message>
  <message name="LoadUserDefinedSelectionList_Result">
    <part name="parameters" element="tns:LoadUserDefinedSelectionList_Result" />
  </message>
  <message name="LoadUserDefinedFunctionList">
    <part name="parameters" element="tns:LoadUserDefinedFunctionList" />
  </message>
  <message name="LoadUserDefinedFunctionList_Result">
    <part name="parameters" element="tns:LoadUserDefinedFunctionList_Result" />
  </message>
  <portType name="WarehouseControlManagement_Port">
    <operation name="get_IsSingleInstance">
      <input name="get_IsSingleInstance" message="tns:get_IsSingleInstance" />
      <output name="get_IsSingleInstance_Result" message="tns:get_IsSingleInstance_Result" />
    </operation>
    <operation name="APIVersion">
      <input name="APIVersion" message="tns:APIVersion" />
      <output name="APIVersion_Result" message="tns:APIVersion_Result" />
    </operation>
    <operation name="RunUDS">
      <input name="RunUDS" message="tns:RunUDS" />
      <output name="RunUDS_Result" message="tns:RunUDS_Result" />
    </operation>
    <operation name="RunFunction">
      <input name="RunFunction" message="tns:RunFunction" />
      <output name="RunFunction_Result" message="tns:RunFunction_Result" />
    </operation>
    <operation name="GetPlanWidth">
      <input name="GetPlanWidth" message="tns:GetPlanWidth" />
      <output name="GetPlanWidth_Result" message="tns:GetPlanWidth_Result" />
    </operation>
    <operation name="GetPlanHeight">
      <input name="GetPlanHeight" message="tns:GetPlanHeight" />
      <output name="GetPlanHeight_Result" message="tns:GetPlanHeight_Result" />
    </operation>
    <operation name="SetPlanWidth">
      <input name="SetPlanWidth" message="tns:SetPlanWidth" />
      <output name="SetPlanWidth_Result" message="tns:SetPlanWidth_Result" />
    </operation>
    <operation name="SetPlanHeight">
      <input name="SetPlanHeight" message="tns:SetPlanHeight" />
      <output name="SetPlanHeight_Result" message="tns:SetPlanHeight_Result" />
    </operation>
    <operation name="CreateLocation">
      <input name="CreateLocation" message="tns:CreateLocation" />
      <output name="CreateLocation_Result" message="tns:CreateLocation_Result" />
    </operation>
    <operation name="ModifyLocation">
      <input name="ModifyLocation" message="tns:ModifyLocation" />
      <output name="ModifyLocation_Result" message="tns:ModifyLocation_Result" />
    </operation>
    <operation name="DeleteLocation">
      <input name="DeleteLocation" message="tns:DeleteLocation" />
      <output name="DeleteLocation_Result" message="tns:DeleteLocation_Result" />
    </operation>
    <operation name="SetLocationVisible">
      <input name="SetLocationVisible" message="tns:SetLocationVisible" />
      <output name="SetLocationVisible_Result" message="tns:SetLocationVisible_Result" />
    </operation>
    <operation name="GetLocationCount">
      <input name="GetLocationCount" message="tns:GetLocationCount" />
      <output name="GetLocationCount_Result" message="tns:GetLocationCount_Result" />
    </operation>
    <operation name="GetLocationList">
      <input name="GetLocationList" message="tns:GetLocationList" />
      <output name="GetLocationList_Result" message="tns:GetLocationList_Result" />
    </operation>
    <operation name="CreateZone">
      <input name="CreateZone" message="tns:CreateZone" />
      <output name="CreateZone_Result" message="tns:CreateZone_Result" />
    </operation>
    <operation name="ModifyZone">
      <input name="ModifyZone" message="tns:ModifyZone" />
      <output name="ModifyZone_Result" message="tns:ModifyZone_Result" />
    </operation>
    <operation name="DeleteZone">
      <input name="DeleteZone" message="tns:DeleteZone" />
      <output name="DeleteZone_Result" message="tns:DeleteZone_Result" />
    </operation>
    <operation name="SetZoneVisible">
      <input name="SetZoneVisible" message="tns:SetZoneVisible" />
      <output name="SetZoneVisible_Result" message="tns:SetZoneVisible_Result" />
    </operation>
    <operation name="GetZoneCount">
      <input name="GetZoneCount" message="tns:GetZoneCount" />
      <output name="GetZoneCount_Result" message="tns:GetZoneCount_Result" />
    </operation>
    <operation name="GetZoneList">
      <input name="GetZoneList" message="tns:GetZoneList" />
      <output name="GetZoneList_Result" message="tns:GetZoneList_Result" />
    </operation>
    <operation name="CreateBin">
      <input name="CreateBin" message="tns:CreateBin" />
      <output name="CreateBin_Result" message="tns:CreateBin_Result" />
    </operation>
    <operation name="ModifyBin">
      <input name="ModifyBin" message="tns:ModifyBin" />
      <output name="ModifyBin_Result" message="tns:ModifyBin_Result" />
    </operation>
    <operation name="DeleteBin">
      <input name="DeleteBin" message="tns:DeleteBin" />
      <output name="DeleteBin_Result" message="tns:DeleteBin_Result" />
    </operation>
    <operation name="GetBinCount">
      <input name="GetBinCount" message="tns:GetBinCount" />
      <output name="GetBinCount_Result" message="tns:GetBinCount_Result" />
    </operation>
    <operation name="GetBinList">
      <input name="GetBinList" message="tns:GetBinList" />
      <output name="GetBinList_Result" message="tns:GetBinList_Result" />
    </operation>
    <operation name="CreateRack">
      <input name="CreateRack" message="tns:CreateRack" />
      <output name="CreateRack_Result" message="tns:CreateRack_Result" />
    </operation>
    <operation name="ModifyRack">
      <input name="ModifyRack" message="tns:ModifyRack" />
      <output name="ModifyRack_Result" message="tns:ModifyRack_Result" />
    </operation>
    <operation name="DeleteRack">
      <input name="DeleteRack" message="tns:DeleteRack" />
      <output name="DeleteRack_Result" message="tns:DeleteRack_Result" />
    </operation>
    <operation name="SetRackVisible">
      <input name="SetRackVisible" message="tns:SetRackVisible" />
      <output name="SetRackVisible_Result" message="tns:SetRackVisible_Result" />
    </operation>
    <operation name="GetRackCount">
      <input name="GetRackCount" message="tns:GetRackCount" />
      <output name="GetRackCount_Result" message="tns:GetRackCount_Result" />
    </operation>
    <operation name="GetRackList">
      <input name="GetRackList" message="tns:GetRackList" />
      <output name="GetRackList_Result" message="tns:GetRackList_Result" />
    </operation>
    <operation name="CreateBinTemplate">
      <input name="CreateBinTemplate" message="tns:CreateBinTemplate" />
      <output name="CreateBinTemplate_Result" message="tns:CreateBinTemplate_Result" />
    </operation>
    <operation name="ModifyBinTemplate">
      <input name="ModifyBinTemplate" message="tns:ModifyBinTemplate" />
      <output name="ModifyBinTemplate_Result" message="tns:ModifyBinTemplate_Result" />
    </operation>
    <operation name="DeleteBinTemplate">
      <input name="DeleteBinTemplate" message="tns:DeleteBinTemplate" />
      <output name="DeleteBinTemplate_Result" message="tns:DeleteBinTemplate_Result" />
    </operation>
    <operation name="GetBinTemplateCount">
      <input name="GetBinTemplateCount" message="tns:GetBinTemplateCount" />
      <output name="GetBinTemplateCount_Result" message="tns:GetBinTemplateCount_Result" />
    </operation>
    <operation name="GetBinTemplateList">
      <input name="GetBinTemplateList" message="tns:GetBinTemplateList" />
      <output name="GetBinTemplateList_Result" message="tns:GetBinTemplateList_Result" />
    </operation>
    <operation name="GetBinTypeCount">
      <input name="GetBinTypeCount" message="tns:GetBinTypeCount" />
      <output name="GetBinTypeCount_Result" message="tns:GetBinTypeCount_Result" />
    </operation>
    <operation name="GetBinTypeList">
      <input name="GetBinTypeList" message="tns:GetBinTypeList" />
      <output name="GetBinTypeList_Result" message="tns:GetBinTypeList_Result" />
    </operation>
    <operation name="GetBinContentCount">
      <input name="GetBinContentCount" message="tns:GetBinContentCount" />
      <output name="GetBinContentCount_Result" message="tns:GetBinContentCount_Result" />
    </operation>
    <operation name="GetBinContentList">
      <input name="GetBinContentList" message="tns:GetBinContentList" />
      <output name="GetBinContentList_Result" message="tns:GetBinContentList_Result" />
    </operation>
    <operation name="GetItemIdentifierCount">
      <input name="GetItemIdentifierCount" message="tns:GetItemIdentifierCount" />
      <output name="GetItemIdentifierCount_Result" message="tns:GetItemIdentifierCount_Result" />
    </operation>
    <operation name="GetItemIdentifierList">
      <input name="GetItemIdentifierList" message="tns:GetItemIdentifierList" />
      <output name="GetItemIdentifierList_Result" message="tns:GetItemIdentifierList_Result" />
    </operation>
    <operation name="GetWarehouseClassCount">
      <input name="GetWarehouseClassCount" message="tns:GetWarehouseClassCount" />
      <output name="GetWarehouseClassCount_Result" message="tns:GetWarehouseClassCount_Result" />
    </operation>
    <operation name="GetWarehouseClassList">
      <input name="GetWarehouseClassList" message="tns:GetWarehouseClassList" />
      <output name="GetWarehouseClassList_Result" message="tns:GetWarehouseClassList_Result" />
    </operation>
    <operation name="GetSpecialEquipmentCount">
      <input name="GetSpecialEquipmentCount" message="tns:GetSpecialEquipmentCount" />
      <output name="GetSpecialEquipmentCount_Result" message="tns:GetSpecialEquipmentCount_Result" />
    </operation>
    <operation name="GetSpecialEquipmentList">
      <input name="GetSpecialEquipmentList" message="tns:GetSpecialEquipmentList" />
      <output name="GetSpecialEquipmentList_Result" message="tns:GetSpecialEquipmentList_Result" />
    </operation>
    <operation name="GetWarehouseEntryCount">
      <input name="GetWarehouseEntryCount" message="tns:GetWarehouseEntryCount" />
      <output name="GetWarehouseEntryCount_Result" message="tns:GetWarehouseEntryCount_Result" />
    </operation>
    <operation name="GetWarehouseEntryList">
      <input name="GetWarehouseEntryList" message="tns:GetWarehouseEntryList" />
      <output name="GetWarehouseEntryList_Result" message="tns:GetWarehouseEntryList_Result" />
    </operation>
    <operation name="Search">
      <input name="Search" message="tns:Search" />
      <output name="Search_Result" message="tns:Search_Result" />
    </operation>
    <operation name="LoadUserDefinedSelectionList">
      <input name="LoadUserDefinedSelectionList" message="tns:LoadUserDefinedSelectionList" />
      <output name="LoadUserDefinedSelectionList_Result" message="tns:LoadUserDefinedSelectionList_Result" />
    </operation>
    <operation name="LoadUserDefinedFunctionList">
      <input name="LoadUserDefinedFunctionList" message="tns:LoadUserDefinedFunctionList" />
      <output name="LoadUserDefinedFunctionList_Result" message="tns:LoadUserDefinedFunctionList_Result" />
    </operation>
  </portType>
  <binding name="WarehouseControlManagement_Binding" type="tns:WarehouseControlManagement_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="get_IsSingleInstance">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:get_IsSingleInstance" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="get_IsSingleInstance">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="get_IsSingleInstance_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="APIVersion">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:APIVersion" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="APIVersion">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="APIVersion_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RunUDS">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:RunUDS" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RunUDS">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RunUDS_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="RunFunction">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:RunFunction" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="RunFunction">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="RunFunction_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPlanWidth">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetPlanWidth" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPlanWidth">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPlanWidth_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetPlanHeight">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetPlanHeight" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetPlanHeight">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetPlanHeight_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetPlanWidth">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:SetPlanWidth" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetPlanWidth">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetPlanWidth_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetPlanHeight">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:SetPlanHeight" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetPlanHeight">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetPlanHeight_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateLocation">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:CreateLocation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateLocation">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateLocation_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyLocation">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:ModifyLocation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyLocation">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyLocation_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteLocation">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:DeleteLocation" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteLocation">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteLocation_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetLocationVisible">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:SetLocationVisible" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetLocationVisible">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetLocationVisible_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetLocationCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetLocationCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetLocationCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetLocationCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetLocationList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetLocationList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetLocationList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetLocationList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateZone">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:CreateZone" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateZone">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateZone_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyZone">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:ModifyZone" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyZone">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyZone_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteZone">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:DeleteZone" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteZone">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteZone_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetZoneVisible">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:SetZoneVisible" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetZoneVisible">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetZoneVisible_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetZoneCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetZoneCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetZoneCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetZoneCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetZoneList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetZoneList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetZoneList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetZoneList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateBin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:CreateBin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateBin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateBin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyBin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:ModifyBin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyBin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyBin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteBin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:DeleteBin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteBin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteBin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateRack">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:CreateRack" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateRack">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateRack_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyRack">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:ModifyRack" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyRack">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyRack_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteRack">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:DeleteRack" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteRack">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteRack_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetRackVisible">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:SetRackVisible" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetRackVisible">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetRackVisible_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRackCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetRackCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRackCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRackCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRackList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetRackList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRackList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRackList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateBinTemplate">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:CreateBinTemplate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateBinTemplate">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateBinTemplate_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ModifyBinTemplate">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:ModifyBinTemplate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ModifyBinTemplate">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ModifyBinTemplate_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteBinTemplate">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:DeleteBinTemplate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteBinTemplate">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteBinTemplate_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinTemplateCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinTemplateCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinTemplateCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinTemplateCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinTemplateList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinTemplateList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinTemplateList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinTemplateList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinTypeCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinTypeCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinTypeCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinTypeCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinTypeList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinTypeList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinTypeList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinTypeList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinContentCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinContentCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinContentCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinContentCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetBinContentList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetBinContentList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetBinContentList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetBinContentList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemIdentifierCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetItemIdentifierCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemIdentifierCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemIdentifierCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetItemIdentifierList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetItemIdentifierList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetItemIdentifierList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetItemIdentifierList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetWarehouseClassCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetWarehouseClassCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetWarehouseClassCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetWarehouseClassCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetWarehouseClassList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetWarehouseClassList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetWarehouseClassList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetWarehouseClassList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetSpecialEquipmentCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetSpecialEquipmentCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetSpecialEquipmentCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetSpecialEquipmentCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetSpecialEquipmentList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetSpecialEquipmentList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetSpecialEquipmentList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetSpecialEquipmentList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetWarehouseEntryCount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetWarehouseEntryCount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetWarehouseEntryCount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetWarehouseEntryCount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetWarehouseEntryList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:GetWarehouseEntryList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetWarehouseEntryList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetWarehouseEntryList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Search">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:Search" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Search">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Search_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LoadUserDefinedSelectionList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:LoadUserDefinedSelectionList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LoadUserDefinedSelectionList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LoadUserDefinedSelectionList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="LoadUserDefinedFunctionList">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WarehouseControlManagement:LoadUserDefinedFunctionList" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LoadUserDefinedFunctionList">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LoadUserDefinedFunctionList_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="WarehouseControlManagement">
    <port name="WarehouseControlManagement_Port" binding="tns:WarehouseControlManagement_Binding">
      <address location="http://prnav.protecor.ru:8047/NAV/WS/Protecor/Codeunit/WarehouseControlManagement" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>